@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

body {
  background-color: rgb(3, 110, 3);
  max-width: 100%;
  max-height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  font-family: "Poppins", sans-serif;
}

nav ul {
  display: flex;
  list-style-type: none;
  height: 50px;
  background-color: black;
  color: white;
  align-items: center;
}

nav ul li {
  padding: 0 10px;
}

.brand img {
  width: 45px;
  height: 45px;
  margin-right: 10px;
}

.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #030700;
  min-width: 160px;
  box-shadow: 0px 8px 8px 8px rgba(12, 12, 12, 0.421);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: rgb(247, 242, 242);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #02a821;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.container1 {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: row;
}

.item1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #001d06;
  height: 680px;
  width: 12%;
  color: rgb(170 168 168);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.item1 ul li {
  cursor: pointer;
}
.item1 ul li img {
  height: 30px;
  width: 30px;
  margin: 10px;
}
.history {
  display: flex;
  align-items: center;
  margin: 10px;
}
.playing {
  display: flex;
  align-items: center;
  margin: 10px;
}

.item2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #021600;
  /* width: 1506px; */
  width: 88%;
  height: 680px;
}

.songItemContainer {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 1000px;
  height: 580px;
  border-color: rgb(53, 117, 4);
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  background-color: rgb(45, 129, 3);
  color: white;
  font-family: "Abel", sans-serif;
  margin-bottom: 10px;
}

.songItem {
  height: 45px;
  display: flex;
  background-color: rgb(2, 92, 21);
  color: white;
  border-radius: 34px;
  width: 100%;
  margin: 12px 0;
  justify-content: space-between;
  align-items: center;
}
.songItem img {
  width: 40px;
  margin: 0 15px;
  border-radius: 20px;
}

.timeStamp {
  display: flex;
  align-items: center;
  margin: 0 20px;
  font-size: large;
  margin: 20px;
}
.timeStamp i {
  margin-left: 10px;
  cursor: pointer;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  height: 114px;
  background-color: #000900;
  bottom: 0;
  color: white;
  flex-direction: column;
}
#myProgressBar {
  width: 80vw;
  text-align: center;
  cursor: pointer;
}
.icons {
  margin-top: 10px;
}
.icons i {
  cursor: pointer;
}

.songInfo {
  margin-top: 40px;
  position: absolute;
  left: 10vw;
  font-weight: bolder;
  font-size: large;
}

.songInfo img {
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
